#footer.row.withText.l-block.l-third
  .col-md-8.col-xs-12
    h2 À propos
    p
      | Les conférences et ateliers Paris Web sont organisés par l’association à but non lucratif Paris-Web.
    p
      | Les informations contenues dans ces pages peuvent faire l’objet d’un changement ultérieur. En particulier, la liste des sujets présentés, la liste des conférenciers présents, les horaires, ainsi que le lieu ou les dates de l’événement ne représentent pas un engagement formel de la part de l’association Paris-Web. Nous ne saurions être tenus responsables d’un changement de dernière minute. Consultez nos
      a(href='http://www.paris-web.fr/legal/') conditions générales et informations légales
      | .
    p
      | Le site Paris Web est hébergé gracieusement par
      a(href='http://www.gandi.net/') Gandi
      | et propulsé par
      a(lang='en', href='http://www.movabletype.com/', hreflang='en') Movable Type
      | . La police est l’œuvre de
      a(lang='en', hreflang='en', href='http://ospublish.constantvzw.org/foundry/') OSP Foundry
      | .  L’appel à orateurs est réalisé à l'aide du framework
      a(lang='en', hreflang='en', href='http://grails.org') Grails
      | et utilise le framework CSS
      a(lang='en', hreflang='en', href='http://getbootstrap.com') Bootstrap
      | avec la police
      a(lang='en', hreflang='en', href='http://fortawesome.github.io/Font-Awesome/') Font Awesome
      | .
  .col-md-4.col-xs-12
    h2 Paris Web
    ul#footerLinks.list-unstyled
      li.clearfix
        span.pull-left
          i.fa.fa-group.fa-fw.fa-2x.fa-pull-left
        a(href='http://www.paris-web.fr/association/') L’association Paris-Web
        br
        a(href='http://www.paris-web.fr/partenaires.php') Nos partenaires
      li.clearfix
        span.pull-left
          i.fa.fa-book.fa-fw.fa-2x.fa-pull-left
        a(href='http://www.paris-web.fr/presse/') Informations pour la presse
        br
        a(href='http://www.paris-web.fr/promotion.php') Images, logos et bannières Paris Web
      li.clearfix
        span.pull-left
          i.fa.fa-hand-o-up.fa-fw.fa-2x
        | Retrouvez les anciennes éditions :
        a(target='_blank', href='http://www.paris-web.fr/2013/')
          span.sr-only site de l’édition
          | 2013
        | ,
        a(target='_blank', href='http://www.paris-web.fr/2012/')
          span.sr-only site de l’édition
          | 2012
        | ,
        a(target='_blank', href='http://www.paris-web.fr/2011/')
          span.sr-only site de l’édition
          | 2011
        | ,
        a(target='_blank', href='http://www.paris-web.fr/2010/')
          span.sr-only site de l’édition
          | 2010
        | ,
        a(target='_blank', href='http://www.paris-web.fr/2009/')
          span.sr-only site de l’édition
          | 2009
        | ,
        a(target='_blank', href='http://www.paris-web.fr/2008/')
          span.sr-only site de l’édition
          | 2008
        | ,
        a(target='_blank', href='http://www.paris-web.fr/2007/')
          span.sr-only site de l’édition
          | 2007
        | et
        a(target='_blank', href='http://www.paris-web.fr/2006/')
          span.sr-only site de l’édition
          | 2006
        | .
